In [3]:
start = 1
end   = 10

In [4]:
import pandas as pd 

df = pd.DataFrame(list(range(start,end)),columns=['data'])

In [6]:
def SquareFunc(data:int)->int:
    return data*data

In [8]:
df['squared'] = df['data'].apply(SquareFunc)

In [9]:
df

   data  squared
0     1        1
1     2        4
2     3        9
3     4       16
4     5       25
5     6       36
6     7       49
7     8       64
8     9       81