In [1]:
start = 1
end   = 10

In [2]:
# Parameters
start = 43
end = 57

In [3]:
import pandas as pd 

df = pd.DataFrame(list(range(start,end)),columns=['data'])

In [4]:
def SquareFunc(data:int)->int:
    return data*data

In [5]:
df['squared'] = df['data'].apply(SquareFunc)

In [6]:
df

    data  squared
0     43     1849
1     44     1936
2     45     2025
3     46     2116
4     47     2209
5     48     2304
6     49     2401
7     50     2500
8     51     2601
9     52     2704
10    53     2809
11    54     2916
12    55     3025
13    56     3136