In [1]:
start = 1
end   = 10

In [2]:
# Parameters
start = 100
end = 110

In [3]:
import pandas as pd 

df = pd.DataFrame(list(range(start,end)),columns=['data'])

In [4]:
def SquareFunc(data:int)->int:
    return data*data

In [5]:
df['squared'] = df['data'].apply(SquareFunc)

In [6]:
df

   data  squared
0   100    10000
1   101    10201
2   102    10404
3   103    10609
4   104    10816
5   105    11025
6   106    11236
7   107    11449
8   108    11664
9   109    11881